<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>8-Bit Inventory Launchpad</title>
    <script src="../public/vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="../public/scripts/8bitInventory.js" charset="utf-8"></script>
</head>

<body>
    <div>
        <h1>8-Bit Inventory Launchpad</h1>
        <input type="text" id='nameIn' placeholder='name of item'>
        <select id='colorIn'>
    <option value="Red">Red</option>
    <option value="Yellow">Yellow</option>
    <option value="Green">Green</option>
    <option value="Blue">Blue</option>
    <option value="mermaid treasure">Mermaid Treasure</option>
    <option value="Purple">Purple</option>
  </select>
        <select id='sizeIn'>
  <option value="small">Small</option>
  <option value="medium">Medium</option>
  <option value="large">Large</option>
  </select>
        <button id="addItem" type="button" name="button"> Add Item</button>
        <button id="searchItem"> Search Inventory</button>
    </div>
</body>

</html>


<!-- need to add item before searching for it -->
